@model ASP.NET_Core_Formularios_de_datos.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Edit";
    var inputHtmlAttributes = new { @class = "form-control" };
    var inputHtmlAttributesPicker = new { @class = "form-control picker" };
}
<h2>Edit user</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, inputHtmlAttributes)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nickname)
        @Html.ValidationMessageFor(model => model.Nickname)
        @Html.TextBoxFor(model => model.Nickname, inputHtmlAttributes)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Type)
        @Html.ValidationMessageFor(model => model.Type)
        @Html.DropDownListFor(model => model.Type, new SelectList(ViewBag.UserTypes, "Id", "Name"), inputHtmlAttributes)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, inputHtmlAttributes)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, inputHtmlAttributes)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RePassword)
        @Html.ValidationMessageFor(model => model.RePassword)
        @Html.PasswordFor(model => model.RePassword, inputHtmlAttributes)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Birthdate)
        @Html.ValidationMessageFor(model => model.Birthdate)
        @Html.EditorFor(model => model.Birthdate, inputHtmlAttributesPicker)
    </div>

    <div class="form-group">
        @Html.CheckBoxFor(model => model.Enabled)
        @Html.LabelFor(model => model.Enabled)
    </div>

    <input type="submit" value="Submit" class="btn btn-primary" />
}

@section Scripts
    {
    <script src="~/lib/jQuery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/css/bootstrap-datepicker3.css"rel="stylesheet" />
    <script src="~/js/bootstrap-datepicker.js"></script>

    <script>
        $(function () {
            $(@Html.IdFor(model=>model.Birthdate)).datepicker();
        });
    </script>
}